BOT_TOKEN=pon_aqui_tu_token_de_telegram
ADMIN_ID=pon_aqui_tu_id_de_telegram

# APIs externas
LIKES_API_URL=https://hubsdev.com/api/frifas/sendlikes
LIKES_API1_KEY=
LIKES_API2_KEY=
HL_USER_UID=
HL_API_KEY=
HL_API_URL=https://proapis.hlgamingofficial.com/main/games/freefire/account/api

# Pagos / configuración
PAYPAL_LINK=
PRECIO_VIP_USD=10.86
PRECIO_VIP_COP=40.000
LLAVE_COLOMBIA=
